# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# SwiftPM
.swiftpm/
Package.resolved

# Archives
*.xcarchive

# App data
*.xcuserstate

# Xcode automatic backups
*.moved-aside
*.xcbackup

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# Simulator logs
coreSimulatorDevices/

# IDE Workspace
*.xcworkspace

# Lockfiles
.xcfilelist

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Firebase crashlytics
.crashlytics/

# Environment
.env

# Bundler
.bundle/

# Other
*.orig
